body {
  padding: 25px;
  font: 16px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: #34568B;
}

a {
  color: #00B7FF;
}

input {
  text-align: center;
  /*color: blue; */
}

.form {
  width: 60%;
  margin: auto;
}

.form-control {
    outline-color: #347a2d;
}

.form-input {
  background-color: #222323;
  outline-color: #347a2d;
  color: white;
}



.cols {
    margin-top: 20px;
}
.cols h1{
  text-align: center;
}

.ent {
  color: #f49542;
}

.ent a{
  color: #f49542;
}

.uni {
 color: #F7E52F ;
}
.uni a{
  color: #F7E52F ;
}

.soc {
  color: #1FF8FC   ;
}

.soc a{
  color: #1FF8FC   ;
}

.header{
  color: rgb(187, 225, 228);
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  margin-top: 10px;
}

.mus h1{
  color: #78469E;
}

.mus a{
  color: #78469E;
}

.gam h1{
  color: #25A88E;
}
.gam a{
  color: #25A88E;
}

.red h1{
  color: #FA4272 ;
}
.red a{
  color: #FA4272 ;
}

.nws h1{
  color: #cbe763 ;
}
.nws a{
  color: #cbe763 ;
}

.mis h1{
  color: #35FB4A ;
}
.mis a{
  color: #35FB4A ;
}



ul li {
  list-style-type: none;
  margin-top: 10px;
}


.ports {
  color: white;
  list-style-type: none;
}

.ports a{
  color: #7fb4f5;
}

html {
  background-image: linear-gradient(180deg, #34568B, rgba(231, 221, 229, 0.295));
}

.header_img {
  
  max-width: 42px;
  filter: blur(1px);
  border-radius: 32%;

  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding: 4px;
}
